@import "tailwindcss";

:root {
  --primary: #2c3e50;
  --secondary: #FC4C69;
  --secondaryalt: #ff2347;
  --tertiary: #ffffff;
}

html {
  scroll-behavior: smooth;
  font-family: "Akagi_Pro";
}


@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondaryalt: var(--secondaryalt);
  --color-tertiary: var(--tertiary);
  --font-poppins: "Poppins" , "sans-serif"
}


