@import "tailwindcss";

:root {
  --primary: #2c3e50;
  --secondary: #FC4C69;
  --secondaryalt: #ED1544;
  --tertiary: #ffffff;
  --textblack: #262626
}

html {
  scroll-behavior: smooth;
}


@theme inline {
  --color-textblack: var(--textblack);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondaryalt: var(--secondaryalt);
  --color-tertiary: var(--tertiary);
  --font-poppins: "Poppins" , "sans-serif";
  --font-akagi: "akagiProThin", "Poppins"
}


